*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(220.55deg, #9f25ff 0%, #ff7a00 100%);
}
